body {
  text-align: center;
}
p {
  display: inline-block;
  font-size: 30px;
}
#setTime {
  width: 100px;
}
#startTimer {
  display: block;
  margin: 0 auto;
}

/*  チャレンジ問題 */

.slot-wrap {
  margin:  0 auto;
  height: 160px;
  width: 150px;
}


.slot {
  height: 40px;
}



/*  チャレンジ問題  ここまで */
