header {
    padding: 68px 77px; 
    display: flex;
    justify-content: left;
    align-items: center;
}

.store-name {
    font-size: 3.8rem;
    margin-right: 20px;
}

.header-link {
    width: 392px;
    ul {
        display: flex;
        justify-content: space-between;
    }

    li {
        font-size: 1.8rem;

        color: #707070;
    
    
        &:hover {
            color: #000;
            li::after {
                display: block;
                content: "";
                height: 18.5px;
                border-bottom: 1px solid #000;
            }
        }
    }
}